/* Custom CSS */

/* Font Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: #fff;
}

#jumboHome {
  color: white;
  background-color: black;
  background-image: url(../images/bg-1-repeat.jpg);
  background-repeat: repeat;
  /* background-size: cover; */
}
#jumboAbout {
  color: white;
  background-color: black;
  background-image: url(../images/openmic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#jumboAbout ul{
  list-style-type: none;
}
.whitelinks {
  color: white;
}
